h1{
    /* background-color: midnightblue; */
    /* text-align: center; */
    /* text-align: right; */
    /* text-align: end; */
    /* text-align: left; */
}
p{
    /* font-weight: bold; */
    /* font-weight: 900; */
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    
    /* line-height: 30px; */
    /* letter-spacing: 2px; */

    /* font-size: 20px; */
    
}

/* h1{
    background-color: aqua;
} */
/* a{
    background-color: red;
} */

div{
    background-color: yellow;
}
/* span{
    background-color: red;
} */

div h1{
   background-color: red;
}
div .momo{
    background-color: blueviolet;
}
div h4{
    background-color: blue;
}
.hello{
    background-color: red;
}